## Graduate Project- Web scraping and basic data analysis for understanding the price of a book

In [1]:
import re
import pandas as pd

In [2]:
df = pd.read_csv('BookData.csv')

In [3]:
test = df['Price'][3]
test

'219.99 $219.99'

In [4]:
re.findall('(\$\d+\.\d+)', test)

['$219.99']

In [22]:
def getPages(df_col):
    pages = re.findall('Pages:\n(\d+)', df_col)
    if pages is None:
        return pages
    if pages:
        return int(pages[0])

def getPublisher(df_col):
    publisher = re.findall('Publisher:\n(.+)', df_col)
    if publisher is None:
        return publisher
    if publisher:
        return str(publisher[0])

def getIsbn(df_col):
    isbn = re.findall('ISBN-13:\n(\d+)', df_col)
    if isbn is None:
        return isbn
    if isbn:
        return str(isbn[0])

def getPrice(df_col):
    price = re.findall('(\$\d+\.\d+)', df_col)
    if price is None:
        return price
    if price:
        return str(price[0])
    
def removeBy(df_col):
    removed = df_col.replace('by ', '')
    return removed

In [6]:
df['Pages1'] = df['AllInfo'].apply(getPages)
df['Publisher'] = df['AllInfo'].apply(getPublisher)
df['ISBN'] = df['AllInfo'].apply(getIsbn)
df.Price = df.Price.astype(str)
df['Correct Price'] = df['Price'].apply(getPrice)

In [7]:
del df['AllInfo']
del df['Pages']

In [8]:
df.head(5)

,URLs,Title,Author,Price,PubDate,Pages1,Publisher,ISBN,Correct Price
0,https://www.barnesandnoble.com/w/30-second-dat...,30-Second Data Science,by Liberty VittertLiberty Vittert,$14.99,9/29/2020,160.0,Ivy Press,9780711261952,$14.99
1,https://www.barnesandnoble.com/w/advanced-anal...,Advanced Analytics and Data Science A Complete...,by Gerardus BlokdykGerardus Blokdyk,$53.99,8/24/2018,286.0,Emereo Publishing,9780655395157,$53.99
2,https://www.barnesandnoble.com/w/advanced-digi...,Advanced Digital Image Processing and Its Appl...,"by Ankur Dumka, Alaknanda Ashok, Poonam Verma,...",$99.95,12/10/2020,238.0,Taylor & Francis,9780367367688,$99.95
3,https://www.barnesandnoble.com/w/advanced-stud...,Advanced Studies in Classification and Data Sc...,"by Tadashi Imaizumi, Akinori Okada, Sadaaki Mi...",219.99 $219.99,9/26/2020,524.0,Springer Singapore,9789811533105,$219.99
4,https://www.barnesandnoble.com/w/analysis-of-m...,Analysis of Multivariate Social Science Data /...,"by David J. Bartholomew, Fiona Steele, Jane Ga...",96.95 $96.95,6/2/2008,384.0,Taylor & Francis,9781584889601,$96.95

In [9]:
df.to_csv('FinalBookData2.csv')

### Steps after processed

In [20]:
df2 = pd.read_csv('FinalBookData2.csv')
df2.head(5)

,URLs,Title,Author,PubDate,Pages,Publisher,ISBN,Correct Price,Year
0,https://www.barnesandnoble.com/w/students-solu...,Student's Solutions Manual for Statistics: The...,"by Alan Agresti, Christine Franklin, Bernhard ...",2/9/2016,184.0,Pearson Education,9.780130e+12,$46.65,2016.0
1,https://www.barnesandnoble.com/w/data-science-...,Data Science in Practice,"by Alan Said, Vicenç Torra",12/28/2018,195.0,Springer International Publishing,9.783030e+12,$149.99,2018.0
2,https://www.barnesandnoble.com/w/hadoop-in-pra...,Hadoop in Practice: Includes 85 Techniques,by Alex Holmes,10/13/2012,536.0,Manning Publications Company,9.781620e+12,$49.99,2012.0
3,https://www.barnesandnoble.com/w/apache-spark-...,Apache Spark Machine Learning Blueprints,by Alex Liu,1/29/2016,252.0,Packt Publishing,9.781790e+12,$39.99,2016.0
4,https://www.barnesandnoble.com/w/secrets-of-st...,Secrets of Statistical Data Analysis and Manag...,by Andrei Besedin,6/1/2018,52.0,Independently published,9.781980e+12,$9.99,2018.0

In [23]:
df2.Author = df2.Author.astype(str)
df2['Author'] = df2['Author'].apply(removeBy)

In [24]:
df2.Author

0      Alan Agresti, Christine Franklin, Bernhard Kli...
1                                Alan Said, Vicenç Torra
2                                            Alex Holmes
3                                               Alex Liu
4                                         Andrei Besedin
                             ...
182                               Yunfei Du, Hammad Rauf
183                             Yu-Wei Chiu (David Chiu)
184                                                  nan
185                                                  nan
186                                                  nan
Name: Author, Length: 187, dtype: object

In [25]:
def Convert(string): 
    li = list(string.split(",")) 
    return li

In [26]:
Convert(df2['Author'][0])

['Alan Agresti', ' Christine Franklin', ' Bernhard Klingenberg']

In [27]:
df2['Listed Authors'] = df2['Author'].apply(Convert)
df2['Numb Authors'] = df2['Listed Authors'].apply(len)

In [28]:
df2.head(3)

,URLs,Title,Author,PubDate,Pages,Publisher,ISBN,Correct Price,Year,Listed Authors,Numb Authors
0,https://www.barnesandnoble.com/w/students-solu...,Student's Solutions Manual for Statistics: The...,"Alan Agresti, Christine Franklin, Bernhard Kli...",2/9/2016,184.0,Pearson Education,9.780130e+12,$46.65,2016.0,"[Alan Agresti, Christine Franklin, Bernhard ...",3
1,https://www.barnesandnoble.com/w/data-science-...,Data Science in Practice,"Alan Said, Vicenç Torra",12/28/2018,195.0,Springer International Publishing,9.783030e+12,$149.99,2018.0,"[Alan Said, Vicenç Torra]",2
2,https://www.barnesandnoble.com/w/hadoop-in-pra...,Hadoop in Practice: Includes 85 Techniques,Alex Holmes,10/13/2012,536.0,Manning Publications Company,9.781620e+12,$49.99,2012.0,[Alex Holmes],1

In [47]:
df2.to_csv('FinalBookData3.csv')

### Getting Author Counts

In [9]:
df3 = pd.read_csv('FinalBookData3.csv')

In [10]:
df3.head(3)

,URLs,Title,Author,Pages,Publisher,ISBN,Price,Year,Listed Authors,Numb Authors
0,https://www.barnesandnoble.com/w/students-solu...,Student's Solutions Manual for Statistics: The...,"Alan Agresti, Christine Franklin, Bernhard Kli...",184.0,Pearson Education,9.780130e+12,$46.65,2016,"['Alan Agresti', ' Christine Franklin', ' Bern...",3
1,https://www.barnesandnoble.com/w/data-science-...,Data Science in Practice,"Alan Said, Vicenç Torra",195.0,Springer International Publishing,9.783030e+12,$149.99,2018,"['Alan Said', ' Vicenç Torra']",2
2,https://www.barnesandnoble.com/w/hadoop-in-pra...,Hadoop in Practice: Includes 85 Techniques,Alex Holmes,536.0,Manning Publications Company,9.781620e+12,$49.99,2012,['Alex Holmes'],1

In [29]:
df_authors = pd.DataFrame(df2['Listed Authors'].to_list(), columns=['Author1', 'Author2', 'Author3', 'Author4', 'Author5'])

In [30]:
df_authors

,Author1,Author2,Author3,Author4,Author5
0,Alan Agresti,Christine Franklin,Bernhard Klingenberg,None,None
1,Alan Said,Vicenç Torra,None,None,None
2,Alex Holmes,None,None,None,None
3,Alex Liu,None,None,None,None
4,Andrei Besedin,None,None,None,None
...,...,...,...,...,...
182,Yunfei Du,Hammad Rauf,None,None,None
183,Yu-Wei Chiu (David Chiu),None,None,None,None
184,nan,None,None,None,None
185,nan,None,None,None,None
186,nan,None,None,None,None

In [33]:
final_df = pd.concat([df3, df_authors], axis=1)
final_df.head(3)

,URLs,Title,Author,Pages,Publisher,ISBN,Price,Year,Listed Authors,Numb Authors,Author1,Author2,Author3,Author4,Author5
0,https://www.barnesandnoble.com/w/students-solu...,Student's Solutions Manual for Statistics: The...,"Alan Agresti, Christine Franklin, Bernhard Kli...",184.0,Pearson Education,9.780130e+12,$46.65,2016.0,"['Alan Agresti', ' Christine Franklin', ' Bern...",3.0,Alan Agresti,Christine Franklin,Bernhard Klingenberg,None,None
1,https://www.barnesandnoble.com/w/data-science-...,Data Science in Practice,"Alan Said, Vicenç Torra",195.0,Springer International Publishing,9.783030e+12,$149.99,2018.0,"['Alan Said', ' Vicenç Torra']",2.0,Alan Said,Vicenç Torra,None,None,None
2,https://www.barnesandnoble.com/w/hadoop-in-pra...,Hadoop in Practice: Includes 85 Techniques,Alex Holmes,536.0,Manning Publications Company,9.781620e+12,$49.99,2012.0,['Alex Holmes'],1.0,Alex Holmes,None,None,None,None

In [34]:
final_df['Author1']

0                  Alan Agresti
1                     Alan Said
2                   Alex Holmes
3                      Alex Liu
4                Andrei Besedin
                 ...
182                   Yunfei Du
183    Yu-Wei Chiu (David Chiu)
184                         nan
185                         nan
186                         nan
Name: Author1, Length: 187, dtype: object

In [40]:
def removeSpace(df_col):
    removed = df_col.replace(' ', '+')
    return removed

final_df['Author1Search'] = final_df['Author1'].apply(removeSpace)

In [42]:
final_df['Author1Search'][0]

'Alan+Agresti'

In [49]:
author_search = []
for i in range(0,len(final_df['Author1Search'])):
    search_string = 'https://www.barnesandnoble.com/s/' + final_df['Author1Search'][i] + '/_/N-8q8?_requestid=0'
    author_search.append(search_string)
    
author_search

['https://www.barnesandnoble.com/s/Alan+Agresti/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Alan+Said/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Alex+Holmes/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Alex+Liu/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Andrei+Besedin/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Andrew+Flagg/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Andrew+Flagg/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Ankur+Dumka/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Anurag+Shrivastava/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Aram+Hajian+(Editor)/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Avrim+Blum/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Benjamin+Bengfort/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Berthold+Lausen+(Editor)/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Bonnie+Sanders/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Boris+Lublinsky/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Bradley+Efron/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Brent+Rouppet+Ph.D./_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Brian+Clegg/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Brian+J+Fogarty/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Carol+S.+Aneshensel/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Catherine+Ingram/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Chanchal+Singh/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Chantal+D.+Larose/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Chava+Frankfort-Nachmias/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Christoph+Biermann/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Chuck+Lam/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Clifford+A.+Shaffer/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Danil+Zburivsky/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/David+J.+Bartholomew/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/David+Natingga/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/David+Paper/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Debarchan+Sarkar/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Dejan+Sarka/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Derek+Haile/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Dineshkumar+Vaghela/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Dipayan+Dev/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/DJ+Patil/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Donald+Miner/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Edward+Capriolo/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Ellen+Gasparovic/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/EMC+Education+Services/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Eric+Chamberlin/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Field+Cady/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Foster+Provost/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Francesco+Archetti/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Francisco+M.+Couto/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Garry+Turkington/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gaurav+Barot/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gerard+Maas/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gerardus+Blokdyk/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gerardus+Blokdyk/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gerardus+Blokdyk/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gerardus+Blokdyk/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gerardus+Blokdyk/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gerardus+Blokdyk/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gerardus+Blokdyk/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gerardus+Blokdyk/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gerardus+Blokdyk/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gerardus+Blokdyk/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gerardus+Blokdyk/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gerardus+Blokdyk/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Gerardus+Blokdyk/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Ginger+Grant/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Hadley+Wickham/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Hadrien+Jean/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Henry+Garner/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Henry+H+Liu/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Herbert+Jones/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Herbert+Jones/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Hien+Luu/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Holden+Karau/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Hrishikesh+Vijay+Karambelkar/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Hrishikesh+Vijay+Karambelkar/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Irfan+Elahi/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Isaac+D.+Cody/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Isaac+D.+Cody/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/J.+Tisa/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/James+D.+Miller/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/James+D.+Miller/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Jan+Kunigk/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Jason+Venner/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Jason+Venner/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Jeffrey+Aven/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Jeffrey+Aven/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Jeffrey+Aven/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Jeffrey+Aven/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Jesse+Daniel/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Jesus+Rogel-Salazar/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Jianqing+Fan/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Jillur+Quddus/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Joe+Oswald/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/John+D.+Kelleher/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/John+Lawson/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/John+Paul+Mueller/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/John+Paul+Mueller/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Jonas+Kress/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Jonathan+Owens/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Kerry+Koitzsch/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Kevin+Sitto/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Lars+Nielsen/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Liberty+Vittert/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Lillian+Pierson/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Madamala+Revanth/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Manas+A.+Pathak/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Manas+A.+Pathak/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Manuel+Ignacio+Franco+Galeano/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Mark+J.+Bennett/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Mark+Needham/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Matt+Foster/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Matt+Foster/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Matthias+Templ/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Max+Kuhn/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Michael+Frampton/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Michael+Frampton/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Mike+Loukides/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Mohammad+Kamrul+Islam/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Monica+Becue-Bertaut/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Murray+Dick/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Nataraj+Dasgupta/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Neal+Fishman/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Niall+M+Adams/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Nicholas+Brown/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Nicolas+Vandeput/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Nicole+M+Radziwill/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Oliver+Schabenberger/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Oliviero+Carugo/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Omowunmi+E.+Isafiade/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Ovidiu+Calin/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Paul+D.+McNicholas/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Paul+D.+McNicholas/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Paul+Henderson/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Peter+White/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Pierstefano+Tucci/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Przemek+Chojecki/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Rajiv+Tiwari/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Renata+Rawlings-Goss/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Rishi+Yadav/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Robert+Ilijason/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Robert+Stahlbock/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Roger+Lee/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Roger+Peng/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Ronald+Pearson/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Saket+S.R.+Mengle/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Sandeep+Karanth/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Sharan+Kumar+Ravindran/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Shiva+Achari/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Shrey+Mehrotra/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Shu-Heng+Chen/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Siamak+Amirghodsi/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Sourav+Gulati/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Srinath+Perera/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Srini+Penchikala/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Srinivas+Duvvuri/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Stephanie+Kay+Ashenden/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Stephen+Klosterman/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Steve+Hoffman/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Steven+Cooper/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Steven+L.+Brunton/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Steven+S.+Skiena/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Stylianos+Kampakis/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Sudheesh+Narayanan/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Tadashi+Imaizumi/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Tammy+Barnes/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Tanmay+Deshpande/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Tanmay+Deshpande/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Thomas+Mailund/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Tom+Plunkett/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Tom+White/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Tomasz+Wiktorski/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Tommy+Blanchard/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Tony+Gaddis/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/V+Naresh+Kumar/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Valliappa+Lakshmanan/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Vijay+Kotu/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Vikram+Dayal/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Vincent+Charles/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Vinit+Yadav/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Vishal+Shukla/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Vishwanathan+Narayanan/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/William+McKnight/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/William+Vance/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Yu+Ding/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Yunfei+Du/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/Yu-Wei+Chiu+(David+Chiu)/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/nan/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/nan/_/N-8q8?_requestid=0',
 'https://www.barnesandnoble.com/s/nan/_/N-8q8?_requestid=0']

In [46]:
search_string

'https://www.barnesandnoble.com/s/Alan+Agresti/_/N-8q8?_requestid=0'

In [50]:
len(author_search)

187

In [60]:
dff = pd.DataFrame(author_search)
dff.to_csv('Authorlist.csv')

In [61]:
authorCountDf = pd.read_csv('BookCountSearches.csv')

In [62]:
authorCountDf

,status,URLs,Book Count Info
0,PROCESSED,https://www.barnesandnoble.com/s/Alan+Agresti/...,1 - 20 of 30 results\nfor\nAlan Agresti
1,PROCESSED,https://www.barnesandnoble.com/s/Alan+Said/_/N...,1 - 20 of 34 results\nfor\nAlan Said
2,PROCESSED,https://www.barnesandnoble.com/s/Alex+Holmes/_...,1 - 13 of 13 results\nfor\nAlex Holmes
3,PROCESSED,https://www.barnesandnoble.com/s/Alex+Liu/_/N-...,1 - 16 of 16 results\nfor\nAlex Liu
4,PROCESSED,https://www.barnesandnoble.com/s/Andrei+Besedi...,1 - 20 of 64 results\nfor\nAndrei Besedin
...,...,...,...
97,PROCESSED,https://www.barnesandnoble.com/s/Michael+Framp...,1 - 2 of 2 results\nfor\nMichael Frampton
98,PROCESSED,https://www.barnesandnoble.com/s/Mike+Loukides...,1 - 8 of 8 results\nfor\nMike Loukides
99,PROCESSED,https://www.barnesandnoble.com/s/Mohammad+Kamr...,1 - 3 of 3 results\nfor\nMohammad Kamrul Islam
100,PROCESSED,https://www.barnesandnoble.com/s/Murray+Dick/_...,1 - 12 of 12 results\nfor\nMurray Dick
101,PROCESSED,https://www.barnesandnoble.com/s/Nataraj+Dasgu...,1 - 3 of 3 results\nfor\nNataraj Dasgupta

In [75]:
def getCounts(df_col):
    pages = re.findall('(\d+) results', df_col)
    if pages is None:
        return pages
    if pages:
        return int(pages[0])

In [78]:
authorCountDf['AuthBookCount'] = authorCountDf['Book Count Info'].apply(getCounts)

In [76]:
test1 = authorCountDf['Book Count Info'][0]
getCounts(test1)

30

In [81]:
to_join = authorCountDf['AuthBookCount']

In [82]:
finalfinal_df = pd.concat([final_df, to_join], axis=1)

In [85]:
finalfinal_df.to_csv('FinalFinaldf.csv')